<div class="margin-top-50 margin-bottom-50">
    <%= render "posts/post", post: @post %>
</div>

<%= render "comment_form", comment: @comment, post: @post, input_prompt: "Write a new comment" %>

<h2 class="comment-header"> Comments </h2>

<hr>

<div class="comments">
    <% @comments.each do |comment| %>
        <%= render "comment", comment: comment %>
    <% end %>
</div>
