.centered {
    text-align: center;
}

.text-align-left {
    text-align: left;
}

.user-form {
    width: 350px;
}

.margin-bottom-100 {
    margin-bottom: 100px;
}

.margin-top-100 {
    margin-top: 100px;
}

.margin-bottom-50 {
    margin-bottom: 50px;
}

.margin-top-50 {
    margin-top: 50px;
}

.margin-bottom-20 {
  margin-bottom: 20%;
}
.margin-bottom-10 {
  margin-bottom: 10%;
}
.margin-bottom-5 {
  margin-bottom: 5%;
}

.margin-bottom-2 {
  margin-bottom: 2%;
}

.margin-top-20 {
  margin-top: 20%;
}

.margin-top-10 {
  margin-top: 10%;
}
.margin-top-5 {
  margin-top: 5%;
}

.margin-top-2 {
  margin-top: 2%;
}

.margin-left-2 {
  margin-left: 2%;
}
.margin-right-2 {
  margin-right: 2%;
}

.margin-left-5 {
  margin-left: 5%;
}
.margin-right-5 {
  margin-right: 5%;
}

.margin-left-10 {
  margin-left: 10%;
}
.margin-right-10 {
  margin-right: 10%;
}

.margin-left-20 {
  margin-left: 20%;
}
.margin-right-20 {
  margin-right: 20%;
}