.centered {
    text-align: center;
}

.text-align-left {
    text-align: left;
}

.user-form {
    width: 350px;
}

.margin-bottom-100 {
    margin-bottom: 100px;
}

.margin-top-100 {
    margin-top: 100px;
}

.margin-bottom-50 {
    margin-bottom: 50px;
}

.margin-top-50 {
    margin-top: 50px;
}

.margin-bottom-20 {
  margin-bottom: 20%;
}
.margin-bottom-10 {
  margin-bottom: 10%;
}
.margin-bottom-5 {
  margin-bottom: 5%;
}

.margin-bottom-2 {
  margin-bottom: 2%;
}

.margin-top-20 {
  margin-top: 20%;
}

.margin-top-10 {
  margin-top: 10%;
}
.margin-top-5 {
  margin-top: 5%;
}

.margin-top-2 {
  margin-top: 2%;
}

.margin-left-2 {
  margin-left: 2%;
}
.margin-right-2 {
  margin-right: 2%;
}

.margin-left-5 {
  margin-left: 5%;
}
.margin-right-5 {
  margin-right: 5%;
}

.margin-left-10 {
  margin-left: 10%;
}
.margin-right-10 {
  margin-right: 10%;
}

.margin-left-20 {
  margin-left: 20%;
}
.margin-right-20 {
  margin-right: 20%;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.twitter-content {
  background-color: gainsboro;
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

.narrow-content {
  background-color: white;
  width: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.edit-delete-links {
  display: flex;
  align-items: center;
  width: 50px;
  justify-content: space-between;
  opacity: 0;
  transition: opacity 0.2s ease;
}

.post:hover {
  .edit-delete-links {
    opacity: 1;
  }
}

.comment:hover {
  .edit-delete-links {
    opacity: 1;
  }
}

.delete-link {
  color: rgba(228, 51, 72, 0.6);
  transition: color 0.2s ease;
}

.delete-link:hover {
  color: rgba(228, 51, 72, 1);
  text-decoration: none;
}

.edit-link {
  color: rgba(29, 161, 242, 0.6);
  transition: color 0.2s ease;
}

.edit-link:hover {
  color: rgba(29, 161, 242, 1);
  text-decoration: none;
}

.username {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: rgba(0, 0, 0, 0.7);
    margin-right: 15px;

    &:hover {
        color: rgba(0, 0, 0, 1);
        text-decoration: none;
    }
}