<% if @user.nil? %>
    <%= render "home_header"%>
<% else %>
    <div class="user-header">
        <%= render "user", user: @user %>
    </div>
<% end %>

<% @posts.each do |post| %>
    <div class="margin-bottom-100">
        <%= render "post", post: post %>
    </div>
<% end %>